{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Digital Commerce Documentation",
    "description" : "## Basics\n\nThe purpose of this page is to describe the headless Digital Commerce service that enables rapid experience-first commerce development and applications.\n\nThe Digital Commerce API follows a microservice architecture that enables commerce into any part of an application and is built on the [JSON API](https://jsonapi.org/ \"https://jsonapi.org/\") specification, follows predictable [REST](https://en.wikipedia.org/wiki/Representational_state_transfer \"https://en.wikipedia.org/wiki/Representational_state_transfer\") URLs and supports [cross-origin resource sharing](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing \"https://en.wikipedia.org/wiki/Cross-origin_resource_sharing\").\n\n## Authentication\n\nAll requests to the API need to be accompanied by an authorization header with a standard salesforce authentication token\n\n    Authorization: Bearer 00D230000000nZM!ARMAQHLLm33JxYYP.UJn1gF6FFmLv8sDYK_8szeckHWtbguztoBpF0HL8...\n\nThe SDK comes with built-in mechanisms for obtaining the above authentication token or you may use any standard Salesforce [approach](https://help.salesforce.com/articleView?id=remoteaccess_authenticate.htm&type=5 \"https://help.salesforce.com/articleView?id=remoteaccess_authenticate.htm&type=5\") for obtaining a custom access token for use with the API.\n\n## Endpoint\n\nThe Digital Commerce API is installed with the Digital Commerce managed package and can be exposed to external applications via a Salesforce site or community. Once a community or site has been built, all API’s will have the structure\n\n    https://mycommunity.force.com/community/services/apexrest/apttus/:version/:api`\n\n\n## Versions\n\nThe Digital Commerce API ensures backward compatibility by properly versioning any changes to the APIs. Should changes to the API structure need to be made, it will occur within a new version and older functionality will be preserved.\n\n## X-Storefront Header Parameter\n\nIn order to match your API requests with a storefront, the x-storefront parameter must be used with all requests in the request header. It should match a storefront name record in SFDC.\n\n    x-storefront: my-storefront`\n\n\n## Content Type\n\nRequests made to the API must be encoded as **JSON** and contain the header\n\n    Content-Type: application/json\n\n## Includes\n\nYou can easily include resource relationships on most top-level resources. Multiple includes are defined using comma delimited values.\n\n## Caching\n\nServer side caching is used and can be configured per request using the cacheStrategy query parameter.\n\n## Errors\n\nAny request that returns an error follows a standard format. The Digital Commerce API will return an array of errors that contains objects containing the status, title and data with the error details.\n\n|**Code**|**Response**|\n|--|--|\n| 201 | Created Successfully |\n| 200 | Updated Successfully |\n| 204 | Deleted Successfully |\n| 400 | Invalid JSON |\n| 422 | Validation Error |\n| 500 | Something went wrong on our end |",
    "contact" : { },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "http://examples.apimatic.io/apps/calculator",
    "description" : "This environment connect to the LIVE calculator API"
  } ],
  "security" : [ {
    "httpBasic" : [ ]
  } ],
  "tags" : [ {
    "name" : "Catalog"
  }, {
    "name" : "Cart Items"
  }, {
    "name" : "Carts"
  }, {
    "name" : "Generic"
  }, {
    "name" : "Authentication"
  }, {
    "name" : "Checkout"
  }, {
    "name" : "Storefront"
  } ],
  "paths" : {
    "/products/{productId}" : {
      "get" : {
        "tags" : [ "Catalog" ],
        "summary" : "GetProduct",
        "description" : "Get product information for the product matching the productId path variable.",
        "operationId" : "GetProduct",
        "parameters" : [ {
          "name" : "productId",
          "in" : "path",
          "description" : "The reference id of the product to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "<string>"
          }
        }, {
          "name" : "x-storefront",
          "in" : "header",
          "description" : "The name of the storefront being used for the request.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "<string>"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseData"
                },
                "example" : {
                  "title" : "success",
                  "status" : 200,
                  "data" : {
                    "AttributeGroups" : [ {
                      "AttributeGroup" : {
                        "Attributes" : [ {
                          "APTS_Ext_ID" : "a1G5000000Acue6EAB",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 3,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_Currency__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000303",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQBUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000AcukzEAB",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 2,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_Currency2__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000304",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQCUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000Acul0EAB",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 4,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_Date__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000305",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQDUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000Acul1EAB",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 5,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_Email__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000306",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQEUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000Acul2EAB",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 6,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_MultiPicklist2__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000307",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQFUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000Acul3EAB",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 7,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_MultiPicklist__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000308",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQGUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000Acul4EAB",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 8,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_Number2__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000309",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQHUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000Acul5EAB",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 9,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_Number__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000310",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQIUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000Acul6EAB",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 10,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_Percent__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000311",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQJUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000Acul7EAB",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 11,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_Phone2__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000312",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQKUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000Acul8EAB",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 12,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_Phone__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000313",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQLUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000Acul9EAB",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 13,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_Picklist2__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000314",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQMUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000AculAEAR",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 14,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_Picklist__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000315",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQNUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000AculBEAR",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 15,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_TextArea__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000316",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQOUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000AculCEAR",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 16,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_Text__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000317",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQPUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000AculDEAR",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 17,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_URL2__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000318",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQQUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        }, {
                          "APTS_Ext_ID" : "a1G5000000AculEEAR",
                          "IsPrimary" : false,
                          "IsHidden" : false,
                          "Sequence" : 18,
                          "IsReadOnly" : false,
                          "Field" : "LA_Attr_URL__c",
                          "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                          "LastModifiedById" : "0054R00000ANDrAQAX",
                          "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:27:29.000Z",
                          "Name" : "AT-0000000319",
                          "IsDeleted" : false,
                          "Id" : "a1P4R000003OmQRUA0",
                          "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                        } ],
                        "APTS_Ext_ID" : "a1E50000005BguyEAC",
                        "ThreeColumnAttributeDisplay" : true,
                        "TwoColumnAttributeDisplay" : false,
                        "BusinessObject" : "Apttus_Config2__ProductAttributeValue__c",
                        "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                        "LastModifiedById" : "0054R00000ANDrAQAX",
                        "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                        "CreatedById" : "0054R00000AN9x4QAD",
                        "CreatedDate" : "2020-01-21T06:27:25.000Z",
                        "Name" : "LA Attr Group",
                        "IsDeleted" : false,
                        "OwnerId" : "0054R00000AN9x4QAD",
                        "Id" : "a1N4R00000LqLn5UAF"
                      },
                      "Sequence" : 1,
                      "ProductId" : "01t4R00000J5R6iQAF",
                      "AttributeGroupId" : "a1N4R00000LqLn5UAF",
                      "SystemModstamp" : "2020-02-14T09:12:34.000Z",
                      "LastModifiedById" : "0054R00000AN9x4QAD",
                      "LastModifiedDate" : "2020-02-14T09:12:34.000Z",
                      "CreatedById" : "0054R00000AN9x4QAD",
                      "CreatedDate" : "2020-02-14T09:12:34.000Z",
                      "Name" : "LA Attr Group",
                      "IsDeleted" : false,
                      "Id" : "a1M4R00001WmZpaUAF"
                    } ],
                    "OptionGroups" : [ {
                      "Options" : [ {
                        "ComponentProduct" : {
                          "AttributeGroups" : [ {
                            "AttributeGroup" : {
                              "Attributes" : [ {
                                "APTS_Ext_ID" : "a1G5000000Acue6EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 3,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Currency__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000303",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQBUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AcukzEAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 2,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Currency2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000304",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQCUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul0EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 4,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Date__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000305",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQDUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul1EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 5,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Email__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000306",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQEUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul2EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 6,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_MultiPicklist2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000307",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQFUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul3EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 7,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_MultiPicklist__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000308",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQGUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul4EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 8,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Number2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000309",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQHUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul5EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 9,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Number__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000310",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQIUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul6EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 10,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Percent__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000311",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQJUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul7EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 11,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Phone2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000312",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQKUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul8EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 12,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Phone__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000313",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQLUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul9EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 13,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Picklist2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000314",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQMUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculAEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 14,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Picklist__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000315",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQNUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculBEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 15,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_TextArea__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000316",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQOUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculCEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 16,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Text__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000317",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQPUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculDEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 17,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_URL2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000318",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQQUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculEEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 18,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_URL__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000319",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQRUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              } ],
                              "APTS_Ext_ID" : "a1E50000005BguyEAC",
                              "ThreeColumnAttributeDisplay" : true,
                              "TwoColumnAttributeDisplay" : false,
                              "BusinessObject" : "Apttus_Config2__ProductAttributeValue__c",
                              "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                              "LastModifiedById" : "0054R00000ANDrAQAX",
                              "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                              "CreatedById" : "0054R00000AN9x4QAD",
                              "CreatedDate" : "2020-01-21T06:27:25.000Z",
                              "Name" : "LA Attr Group",
                              "IsDeleted" : false,
                              "OwnerId" : "0054R00000AN9x4QAD",
                              "Id" : "a1N4R00000LqLn5UAF"
                            },
                            "APTS_Ext_ID" : "a1D5000000DElQSEA1",
                            "Sequence" : 1,
                            "ProductId" : "01t4R00000J5R6mQAF",
                            "AttributeGroupId" : "a1N4R00000LqLn5UAF",
                            "SystemModstamp" : "2020-01-21T12:39:44.000Z",
                            "LastModifiedById" : "0054R00000AN9x4QAD",
                            "LastModifiedDate" : "2020-01-21T12:39:44.000Z",
                            "CreatedById" : "0054R00000AN9x4QAD",
                            "CreatedDate" : "2020-01-21T06:27:34.000Z",
                            "Name" : "LA Attr Group",
                            "IsDeleted" : false,
                            "Id" : "a1M4R00001WmYkzUAF"
                          } ],
                          "OptionGroups" : [ {
                            "Options" : [ {
                              "ComponentProduct" : {
                                "APTS_Ext_ID" : "01t3I0000005pFtQAI",
                                "ShowTabView" : false,
                                "Version" : 1,
                                "ExcludeFromSitemap" : false,
                                "What_is_the_Type_of_Maintenance" : "Platinum Support",
                                "What_is_the_Duration_of_Maintenance" : "OCONS",
                                "Tech_Validation_Required" : false,
                                "Supports_Web_Services" : false,
                                "Supports_Compliance" : false,
                                "Sale_Or_Service" : "Sales",
                                "Promotional_Item" : false,
                                "Product_ID_NN" : "01t4R00000J5R4m",
                                "Has_Search_Attributes" : false,
                                "Discountable" : false,
                                "Deploy_In_Public_Cloud" : false,
                                "Deploy_In_Private_Cloud" : false,
                                "Uom" : "Each",
                                "Icon" : "<a href=\"/apex/Apttus_Config2__IconUploader?productId=01t4R00000J5R4m\" target=\"_top\"><img src=\"/resource/Apttus_Config2__Image_UploadIcon\" alt=\"Upload Icon\" style=\"height:50px; width:50px;\" border=\"0\"/></a>",
                                "HasSearchAttributes" : false,
                                "HasOptions" : false,
                                "HasDefaults" : false,
                                "HasAttributes" : false,
                                "Customizable" : false,
                                "ConfigurationType" : "Option",
                                "IsArchived" : false,
                                "IsDeleted" : false,
                                "SystemModstamp" : "2020-01-28T04:47:13.000Z",
                                "LastModifiedById" : "0054R00000AN9x4QAD",
                                "LastModifiedDate" : "2020-01-28T04:47:13.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:25:47.000Z",
                                "IsActive" : true,
                                "Description" : "NK_OptionProduct",
                                "ProductCode" : "NK_OptionProduct",
                                "Name" : "NK_OptionProduct",
                                "Id" : "01t4R00000J5R4mQAF"
                              },
                              "ConfigType" : "Inline",
                              "AutoUpdateQuantity" : false,
                              "Sequence" : 1,
                              "Required" : false,
                              "RelationshipType" : "Option",
                              "ProductOptionGroupId" : "a1g4R000005InN0QAK",
                              "ParentProductId" : "01t4R00000J5R6mQAF",
                              "Modifiable" : true,
                              "MinQuantity" : 0,
                              "MaxQuantity" : 1,
                              "Default" : false,
                              "DefaultQuantity" : 1,
                              "ComponentProductId" : "01t4R00000J5R4mQAF",
                              "AllowCloning" : false,
                              "SystemModstamp" : "2020-02-04T07:43:10.000Z",
                              "LastModifiedById" : "0054R00000AN9x4QAD",
                              "LastModifiedDate" : "2020-02-04T07:43:10.000Z",
                              "CreatedById" : "0054R00000AN9x4QAD",
                              "CreatedDate" : "2020-02-04T07:43:10.000Z",
                              "Name" : "PC-0000002259",
                              "IsDeleted" : false,
                              "OwnerId" : "0054R00000AN9x4QAD",
                              "Id" : "a1f4R000001fU9QQAU"
                            } ],
                            "OptionGroup" : {
                              "APTS_Ext_ID" : "a0h3I0000000Wg9QAE",
                              "ProductCount" : 1,
                              "Right" : 2,
                              "Modifiable" : true,
                              "MinOptions" : 1,
                              "MaxOptions" : 1,
                              "Level" : 0,
                              "Left" : 1,
                              "Label" : "NK_OptionGroup",
                              "IsPicklist" : false,
                              "IsLeaf" : "Yes",
                              "IsHidden" : false,
                              "IncludeInTotalsView" : true,
                              "HideAllSearchFilters" : false,
                              "ExpandedByDefault" : false,
                              "DefaultSearchCategory" : false,
                              "HierarchyId" : "a0o4R000009OP5CQAW",
                              "SystemModstamp" : "2020-01-21T12:38:34.000Z",
                              "LastModifiedById" : "0054R00000AN9x4QAD",
                              "LastModifiedDate" : "2020-01-21T12:38:34.000Z",
                              "CreatedById" : "0054R00000AN9x4QAD",
                              "CreatedDate" : "2020-01-21T06:26:44.000Z",
                              "Name" : "NK_OptionGroup",
                              "IsDeleted" : false,
                              "Id" : "a0n4R00000iiFt5QAE"
                            },
                            "CascadeGroupChanges" : false,
                            "ContentType" : "Options",
                            "Sequence" : 0,
                            "RootSequence" : 1,
                            "RootOptionGroupId" : "a0n4R00000iiFt5QAE",
                            "Right" : 2,
                            "ProductId" : "01t4R00000J5R6mQAF",
                            "ModifiableType" : "Variable",
                            "MinOptions" : 1,
                            "MaxOptions" : 1,
                            "Level" : 0,
                            "Left" : 1,
                            "IsPicklist" : false,
                            "IsLeaf" : true,
                            "IsHidden" : false,
                            "OptionGroupId" : "a0n4R00000iiFt5QAE",
                            "SystemModstamp" : "2020-02-04T07:43:10.000Z",
                            "LastModifiedById" : "0054R00000AN9x4QAD",
                            "LastModifiedDate" : "2020-02-04T07:43:10.000Z",
                            "CreatedById" : "0054R00000AN9x4QAD",
                            "CreatedDate" : "2020-02-04T07:43:10.000Z",
                            "Name" : "PG-0000001317",
                            "IsDeleted" : false,
                            "Id" : "a1g4R000005InN0QAK"
                          } ],
                          "APTS_Ext_ID" : "01t50000004SouPAAS",
                          "ShowTabView" : false,
                          "Version" : 1,
                          "ExcludeFromSitemap" : false,
                          "What_is_the_Type_of_Maintenance" : "Platinum Support",
                          "What_is_the_Duration_of_Maintenance" : "OCONS",
                          "Tech_Validation_Required" : false,
                          "Supports_Web_Services" : false,
                          "Supports_Compliance" : false,
                          "Sale_Or_Service" : "Sales",
                          "Promotional_Item" : false,
                          "Product_ID_NN" : "01t4R00000J5R6m",
                          "Has_Search_Attributes" : false,
                          "Discountable" : false,
                          "Deploy_In_Public_Cloud" : false,
                          "Deploy_In_Private_Cloud" : false,
                          "Uom" : "Each",
                          "Icon" : "<a href=\"/apex/Apttus_Config2__IconUploader?productId=01t4R00000J5R6m\" target=\"_top\"><img src=\"/servlet/servlet.FileDownload?file=00P4R000010wALtUAM\" alt=\"Icon\" style=\"height:50px; width:50px;\" border=\"0\"/></a>",
                          "IconSize" : "1903x800",
                          "IconId" : "00P4R000010wALtUAM",
                          "HasSearchAttributes" : false,
                          "HasOptions" : true,
                          "HasDefaults" : false,
                          "HasAttributes" : true,
                          "Customizable" : false,
                          "ConfigurationType" : "Bundle",
                          "IsArchived" : false,
                          "IsDeleted" : false,
                          "SystemModstamp" : "2020-02-04T07:43:11.000Z",
                          "LastModifiedById" : "0054R00000AN9x4QAD",
                          "LastModifiedDate" : "2020-02-04T07:43:11.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:25:48.000Z",
                          "IsActive" : true,
                          "Description" : "Option Description",
                          "Name" : "LA ABO Option1",
                          "Id" : "01t4R00000J5R6mQAF"
                        },
                        "APTS_Ext_ID" : "a1S5000000738IlEAI",
                        "ConfigType" : "Inline",
                        "AutoUpdateQuantity" : false,
                        "Sequence" : 1,
                        "Required" : false,
                        "RelationshipType" : "Option",
                        "ProductOptionGroupId" : "a1g4R000005InAGQA0",
                        "ParentProductId" : "01t4R00000J5R6iQAF",
                        "Modifiable" : true,
                        "MinQuantity" : 0,
                        "MaxQuantity" : 1,
                        "Default" : false,
                        "DefaultQuantity" : 1,
                        "ComponentProductId" : "01t4R00000J5R6mQAF",
                        "AllowCloning" : false,
                        "SystemModstamp" : "2020-02-17T09:01:13.000Z",
                        "LastModifiedById" : "0054R00000AN9x4QAD",
                        "LastModifiedDate" : "2020-02-17T09:01:13.000Z",
                        "CreatedById" : "0054R00000AN9x4QAD",
                        "CreatedDate" : "2020-01-21T06:27:17.000Z",
                        "Name" : "PC-0000001734",
                        "IsDeleted" : false,
                        "OwnerId" : "0054R00000AN9x4QAD",
                        "Id" : "a1f4R000001fTrUQAU"
                      }, {
                        "ComponentProduct" : {
                          "AttributeGroups" : [ {
                            "AttributeGroup" : {
                              "Attributes" : [ {
                                "APTS_Ext_ID" : "a1G5000000Acue6EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 3,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Currency__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000303",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQBUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AcukzEAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 2,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Currency2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000304",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQCUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul0EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 4,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Date__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000305",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQDUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul1EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 5,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Email__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000306",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQEUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul2EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 6,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_MultiPicklist2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000307",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQFUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul3EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 7,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_MultiPicklist__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000308",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQGUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul4EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 8,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Number2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000309",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQHUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul5EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 9,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Number__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000310",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQIUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul6EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 10,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Percent__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000311",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQJUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul7EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 11,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Phone2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000312",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQKUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul8EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 12,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Phone__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000313",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQLUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul9EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 13,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Picklist2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000314",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQMUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculAEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 14,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Picklist__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000315",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQNUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculBEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 15,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_TextArea__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000316",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQOUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculCEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 16,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Text__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000317",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQPUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculDEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 17,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_URL2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000318",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQQUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculEEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 18,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_URL__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000319",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQRUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              } ],
                              "APTS_Ext_ID" : "a1E50000005BguyEAC",
                              "ThreeColumnAttributeDisplay" : true,
                              "TwoColumnAttributeDisplay" : false,
                              "BusinessObject" : "Apttus_Config2__ProductAttributeValue__c",
                              "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                              "LastModifiedById" : "0054R00000ANDrAQAX",
                              "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                              "CreatedById" : "0054R00000AN9x4QAD",
                              "CreatedDate" : "2020-01-21T06:27:25.000Z",
                              "Name" : "LA Attr Group",
                              "IsDeleted" : false,
                              "OwnerId" : "0054R00000AN9x4QAD",
                              "Id" : "a1N4R00000LqLn5UAF"
                            },
                            "APTS_Ext_ID" : "a1D5000000DElQXEA1",
                            "Sequence" : 1,
                            "ProductId" : "01t4R00000J5R6nQAF",
                            "AttributeGroupId" : "a1N4R00000LqLn5UAF",
                            "SystemModstamp" : "2020-01-21T12:39:44.000Z",
                            "LastModifiedById" : "0054R00000AN9x4QAD",
                            "LastModifiedDate" : "2020-01-21T12:39:44.000Z",
                            "CreatedById" : "0054R00000AN9x4QAD",
                            "CreatedDate" : "2020-01-21T06:27:34.000Z",
                            "Name" : "LA Attr Group",
                            "IsDeleted" : false,
                            "Id" : "a1M4R00001WmYl0UAF"
                          } ],
                          "APTS_Ext_ID" : "01t50000004SouQAAS",
                          "ShowTabView" : false,
                          "Version" : 1,
                          "ExcludeFromSitemap" : false,
                          "What_is_the_Type_of_Maintenance" : "Platinum Support",
                          "What_is_the_Duration_of_Maintenance" : "OCONS",
                          "Tech_Validation_Required" : false,
                          "Supports_Web_Services" : false,
                          "Supports_Compliance" : false,
                          "Sale_Or_Service" : "Sales",
                          "Promotional_Item" : false,
                          "Product_ID_NN" : "01t4R00000J5R6n",
                          "Has_Search_Attributes" : false,
                          "Discountable" : false,
                          "Deploy_In_Public_Cloud" : false,
                          "Deploy_In_Private_Cloud" : false,
                          "Uom" : "Each",
                          "Icon" : "<a href=\"/apex/Apttus_Config2__IconUploader?productId=01t4R00000J5R6n\" target=\"_top\"><img src=\"/resource/Apttus_Config2__Image_UploadIcon\" alt=\"Upload Icon\" style=\"height:50px; width:50px;\" border=\"0\"/></a>",
                          "HasSearchAttributes" : false,
                          "HasOptions" : false,
                          "HasDefaults" : false,
                          "HasAttributes" : true,
                          "Customizable" : false,
                          "ConfigurationType" : "Option",
                          "IsArchived" : false,
                          "IsDeleted" : false,
                          "SystemModstamp" : "2020-01-28T04:47:14.000Z",
                          "LastModifiedById" : "0054R00000AN9x4QAD",
                          "LastModifiedDate" : "2020-01-28T04:47:14.000Z",
                          "CreatedById" : "0054R00000AN9x4QAD",
                          "CreatedDate" : "2020-01-21T06:25:48.000Z",
                          "IsActive" : true,
                          "Name" : "LA ABO Option2",
                          "Id" : "01t4R00000J5R6nQAF"
                        },
                        "APTS_Ext_ID" : "a1S5000000738ImEAI",
                        "ConfigType" : "Inline",
                        "AutoUpdateQuantity" : false,
                        "Sequence" : 2,
                        "Required" : false,
                        "RelationshipType" : "Option",
                        "ProductOptionGroupId" : "a1g4R000005InAGQA0",
                        "ParentProductId" : "01t4R00000J5R6iQAF",
                        "Modifiable" : true,
                        "MinQuantity" : 0,
                        "MaxQuantity" : 1,
                        "Default" : false,
                        "DefaultQuantity" : 1,
                        "ComponentProductId" : "01t4R00000J5R6nQAF",
                        "AllowCloning" : false,
                        "SystemModstamp" : "2020-02-17T09:01:13.000Z",
                        "LastModifiedById" : "0054R00000AN9x4QAD",
                        "LastModifiedDate" : "2020-02-17T09:01:13.000Z",
                        "CreatedById" : "0054R00000AN9x4QAD",
                        "CreatedDate" : "2020-01-21T06:27:17.000Z",
                        "Name" : "PC-0000001735",
                        "IsDeleted" : false,
                        "OwnerId" : "0054R00000AN9x4QAD",
                        "Id" : "a1f4R000001fTrVQAU"
                      }, {
                        "ComponentProduct" : {
                          "AttributeGroups" : [ {
                            "AttributeGroup" : {
                              "Attributes" : [ {
                                "APTS_Ext_ID" : "a1G5000000Acue6EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 3,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Currency__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000303",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQBUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AcukzEAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 2,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Currency2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000304",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQCUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul0EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 4,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Date__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000305",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQDUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul1EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 5,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Email__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000306",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQEUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul2EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 6,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_MultiPicklist2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000307",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQFUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul3EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 7,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_MultiPicklist__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000308",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQGUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul4EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 8,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Number2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000309",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQHUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul5EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 9,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Number__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000310",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQIUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul6EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 10,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Percent__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000311",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQJUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul7EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 11,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Phone2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000312",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQKUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul8EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 12,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Phone__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000313",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQLUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000Acul9EAB",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 13,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Picklist2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000314",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQMUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculAEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 14,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Picklist__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000315",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQNUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculBEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 15,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_TextArea__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000316",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQOUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculCEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 16,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_Text__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000317",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQPUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculDEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 17,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_URL2__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000318",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQQUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              }, {
                                "APTS_Ext_ID" : "a1G5000000AculEEAR",
                                "IsPrimary" : false,
                                "IsHidden" : false,
                                "Sequence" : 18,
                                "IsReadOnly" : false,
                                "Field" : "LA_Attr_URL__c",
                                "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                "LastModifiedById" : "0054R00000ANDrAQAX",
                                "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                "CreatedById" : "0054R00000AN9x4QAD",
                                "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                "Name" : "AT-0000000319",
                                "IsDeleted" : false,
                                "Id" : "a1P4R000003OmQRUA0",
                                "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                              } ],
                              "APTS_Ext_ID" : "a1E50000005BguyEAC",
                              "ThreeColumnAttributeDisplay" : true,
                              "TwoColumnAttributeDisplay" : false,
                              "BusinessObject" : "Apttus_Config2__ProductAttributeValue__c",
                              "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                              "LastModifiedById" : "0054R00000ANDrAQAX",
                              "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                              "CreatedById" : "0054R00000AN9x4QAD",
                              "CreatedDate" : "2020-01-21T06:27:25.000Z",
                              "Name" : "LA Attr Group",
                              "IsDeleted" : false,
                              "OwnerId" : "0054R00000AN9x4QAD",
                              "Id" : "a1N4R00000LqLn5UAF"
                            },
                            "APTS_Ext_ID" : "a1D5000000DElQNEA1",
                            "Sequence" : 1,
                            "ProductId" : "01t4R00000J5R6kQAF",
                            "AttributeGroupId" : "a1N4R00000LqLn5UAF",
                            "SystemModstamp" : "2020-01-21T12:39:44.000Z",
                            "LastModifiedById" : "0054R00000AN9x4QAD",
                            "LastModifiedDate" : "2020-01-21T12:39:44.000Z",
                            "CreatedById" : "0054R00000AN9x4QAD",
                            "CreatedDate" : "2020-01-21T06:27:34.000Z",
                            "Name" : "LA Attr Group",
                            "IsDeleted" : false,
                            "Id" : "a1M4R00001WmYkyUAF"
                          } ],
                          "OptionGroups" : [ {
                            "Options" : [ {
                              "ComponentProduct" : {
                                "AttributeGroups" : [ {
                                  "AttributeGroup" : {
                                    "Attributes" : [ {
                                      "APTS_Ext_ID" : "a1G5000000Acue6EAB",
                                      "IsPrimary" : false,
                                      "IsHidden" : false,
                                      "Sequence" : 3,
                                      "IsReadOnly" : false,
                                      "Field" : "LA_Attr_Currency__c",
                                      "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                      "LastModifiedById" : "0054R00000ANDrAQAX",
                                      "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                      "CreatedById" : "0054R00000AN9x4QAD",
                                      "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                      "Name" : "AT-0000000303",
                                      "IsDeleted" : false,
                                      "Id" : "a1P4R000003OmQBUA0",
                                      "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                                    }, {
                                      "APTS_Ext_ID" : "a1G5000000AcukzEAB",
                                      "IsPrimary" : false,
                                      "IsHidden" : false,
                                      "Sequence" : 2,
                                      "IsReadOnly" : false,
                                      "Field" : "LA_Attr_Currency2__c",
                                      "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                      "LastModifiedById" : "0054R00000ANDrAQAX",
                                      "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                      "CreatedById" : "0054R00000AN9x4QAD",
                                      "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                      "Name" : "AT-0000000304",
                                      "IsDeleted" : false,
                                      "Id" : "a1P4R000003OmQCUA0",
                                      "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                                    }, {
                                      "APTS_Ext_ID" : "a1G5000000Acul0EAB",
                                      "IsPrimary" : false,
                                      "IsHidden" : false,
                                      "Sequence" : 4,
                                      "IsReadOnly" : false,
                                      "Field" : "LA_Attr_Date__c",
                                      "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                      "LastModifiedById" : "0054R00000ANDrAQAX",
                                      "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                      "CreatedById" : "0054R00000AN9x4QAD",
                                      "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                      "Name" : "AT-0000000305",
                                      "IsDeleted" : false,
                                      "Id" : "a1P4R000003OmQDUA0",
                                      "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                                    }, {
                                      "APTS_Ext_ID" : "a1G5000000Acul1EAB",
                                      "IsPrimary" : false,
                                      "IsHidden" : false,
                                      "Sequence" : 5,
                                      "IsReadOnly" : false,
                                      "Field" : "LA_Attr_Email__c",
                                      "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                      "LastModifiedById" : "0054R00000ANDrAQAX",
                                      "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                      "CreatedById" : "0054R00000AN9x4QAD",
                                      "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                      "Name" : "AT-0000000306",
                                      "IsDeleted" : false,
                                      "Id" : "a1P4R000003OmQEUA0",
                                      "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                                    }, {
                                      "APTS_Ext_ID" : "a1G5000000Acul2EAB",
                                      "IsPrimary" : false,
                                      "IsHidden" : false,
                                      "Sequence" : 6,
                                      "IsReadOnly" : false,
                                      "Field" : "LA_Attr_MultiPicklist2__c",
                                      "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                      "LastModifiedById" : "0054R00000ANDrAQAX",
                                      "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                      "CreatedById" : "0054R00000AN9x4QAD",
                                      "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                      "Name" : "AT-0000000307",
                                      "IsDeleted" : false,
                                      "Id" : "a1P4R000003OmQFUA0",
                                      "AttributeGroupId" : "a1N4R00000LqLn5UAF"
                                    }, {
                                      "APTS_Ext_ID" : "a1G5000000Acul3EAB",
                                      "IsPrimary" : false,
                                      "IsHidden" : false,
                                      "Sequence" : 7,
                                      "IsReadOnly" : false,
                                      "Field" : "LA_Attr_MultiPicklist__c",
                                      "SystemModstamp" : "2020-02-05T18:38:53.000Z",
                                      "LastModifiedById" : "0054R00000ANDrAQAX",
                                      "LastModifiedDate" : "2020-02-05T18:38:53.000Z",
                                      "CreatedById" : "0054R00000AN9x4QAD",
                                      "CreatedDate" : "2020-01-21T06:27:29.000Z",
                                      "Name" : "AT-0000000308",
[...]
